.container-scroll > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.overFlow {
    overflow: visible !important;
}

.container-scroll > .row > .col-sm-3 {
    display: inline-block;
    float: none;
}

.h-90 {
    height: 90% !important;
}

.rowHeight {
    height: 95vh;
}

.colWidth {
    max-width: 40vh;
    min-width: 250px;
}

@media only screen
and (max-height: 480px) {
    .rowHeight {
        height: 70vh;
    }
}

@media only screen
and (max-width: 480px) {
    .rowHeight {
        height: 80vh;
    }

    .colWidth {
        width: 90vw;
        max-width: unset;
        min-width: unset;
    }

    .cardWidth {
        width: 90vw;
    }
}

