.App {
    text-align: center;
    margin: 1vw;
    vertical-align: top;
}

.login-box {
    padding-top: 2vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    text-align: center;
    display: block;
}

@media only screen
and (max-width: 480px) {
    #root {
        width: fit-content;
    }

    .module {
        width: 100%;
    }

}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

}
